<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/recipes">Recipes</a>
    <div class="navbar-nav">
      <a class="btn btn-outline-info btn-sm" routerLink="/edit">Add recipe</a>
    </div>
</nav>
