<div class="card m-1 h-100" style="width: 18rem;">
    <img [src]="recipe.imgUrlRecipe" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <p class="card-text">{{ recipe.description }}</p>
    </div>
  <div class="card-footer">
    <a [routerLink]="recipe.id" class="btn btn-primary mr-2">View</a>
    <button class="btn btn-danger" (click)="onDelete(recipe.id)" [disabled]="removing">Delete
      <span *ngIf="removing" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
    </button>
  </div>
</div>
