<div class="container p-3 row"  *ngIf="!loading">
  <div class="col-12 d-flex flex-wrap">
    <app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-item>
  </div>
</div>
  <div *ngIf="loading">
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
  </div>

