<div class="container p-2">
  <form [formGroup]="form" (ngSubmit)="addRecipe()">
    <div class="form-group">
      <label for="title">Recipe title</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter recipe title">
      <small class="form-text required-text"
             *ngIf="fieldHasError('title', 'required')"
      >Enter recipe title</small>
    </div>
    <div class="form-group">
      <label for="imgRecipe">Recipe image</label>
      <input type="text" class="form-control" id="imgRecipe" formControlName="imgUrlRecipe" placeholder="Enter URl image recipe">
      <small class="form-text required-text"
             *ngIf="fieldHasError('imgUrlRecipe', 'required')"
      >Enter recipe url image</small>
    </div>
    <div class="form-group">
      <label for="description">Recipe description</label>
      <textarea class="form-control" id="description" formControlName="description"  placeholder="Enter recipe description"></textarea>
      <small class="form-text required-text"
             *ngIf="fieldHasError('description', 'required')"
      >Enter recipe description</small>
    </div>
    <div class="form-group">
      <label for="ingredients">Recipe ingredients</label>
      <textarea class="form-control" id="ingredients" formControlName="ingredients" placeholder="Enter recipe ingredients"></textarea>
      <small class="form-text required-text"
             *ngIf="fieldHasError('ingredients', 'required')"
      >Enter recipe ingredients</small>
    </div>
    <div class="form-group" formArrayName="steps">
      <h3 class="mr-2">Steps:</h3>
      <div *ngFor="let step of getStepsControls(); let i = index" class="mb-2">
        <div class="pt-2" [formGroupName]="i">
          <h5 class="text-center">Step: {{ i + 1 }}</h5>
          <p>
            <label for="imgStep">Step image</label>
            <input type="text" class="form-control" id="imgStep" formControlName="imgStepUrl" placeholder="Enter URL step image">
            <small class="form-text required-text"
                   *ngIf="fieldHasError('imgStepUrl', 'required')"
            >Enter URL step image</small>
          </p>
          <p>
            <label for="stepDescription">Step description</label>
            <textarea class="form-control" id="stepDescription" formControlName="stepDescription" placeholder="Enter step description"></textarea>
            <small class="form-text required-text"
                   *ngIf="fieldHasError('stepDescription', 'required')"
            >Enter description step</small>
          </p>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeStep(i)">Delete step</button>
        </div>
      </div>
      <button class="btn btn-outline-info btn-sm" type="button" (click)="addStep()">Add step</button>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="sending || form.invalid"> {{isEdit ? 'Edit' : 'Create'}}
      <span *ngIf="sending" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
    </button>
  </form>
</div>

