<div class="container text-center">
  <div class="p-5 border border-success rounded">
    <a [routerLink]="['edit']" class="btn btn-warning btn-sm float-right">Edit</a>
    <h4>{{ recipe.title }}</h4>
    <div class="container-img">
      <img  [src]="recipe.imgUrlRecipe" alt="" id="imgRecipe">
    </div>
    <p>
      {{ recipe.description }}
    </p>
    <div>
      <h4>Ingredients:</h4>
      {{ recipe.ingredients }}
    </div>
    <div>
      <h4>Steps:</h4>
      <div *ngFor="let step of recipe.steps; let i = index" class="bg-step pt-3">
        <h5 class="text-danger">Step {{ i + 1 }}</h5>
        <div class="container-img">
          <img [src]="step.imgStepUrl" alt="" id="imgStep">
        </div>
        <div class="w-75 ml-auto mr-auto">
          <p>{{ step.stepDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
