img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.container-img {
  width: 320px;
  min-height: 240px;
  height: auto;
  margin: 3px auto;
  padding: 3px;
}

.bg-step {
  background: linear-gradient(90deg, rgba(0,10,36,0.09949431432729339) 0%, rgba(9,9,121,0.0686819893973214) 50%, rgba(0,212,255,0.049074146260066565) 83%);
}
